@import url('base.css');
body{
    width: 1519px;
}
.header{
    width:100%;
    height:212px;
}
.header .top-header{
    width: 	100%;
    height: 32px;
    border-bottom: 	1px solid	#DCDCDC;
}
.header .top-header .container{
    width: 	1170px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header .top-header .container .fl{
    width: 	266px;
    height: 32px;
    font-size: 	14px;
    color: 	#666666;
    float: 	left;
    line-height: 32px;
}
.header .top-header .container .tool{
    width: 	auto;
    height: 100%;
    float: 	right;

}
.header .top-header .container .tool .qq{
    width: auto;
    height: 100%;
    padding: 0 10px;
}
.header .top-header .container .tool .qq:hover span,.header .top-header .container .tool .qq:hover i{
    color: red;
}
.header .top-header .container .tool .qq i{
    margin-right: 	5px;
    color: 	#666666;
}
.header .top-header .container .tool .qq span{
    font-size: 	14px;
    color: 	#666666;
    line-height: 32px;
}
.header .btm-header{
    width: 	1170px;
    padding: 0 15px;
    height: 90px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 	20px;

}
.header .btm-header .logo{
    width: 151px;
    height: 90px;
    display: block;
    float: left;
    margin-right: 10px;
}
.header .btm-header .jin{
    width: 120px;
    height: 66px;
    float: left;
    padding-top: 9px;
}
.header .btm-header .jin .he{
    font-size: 30px;
    font-weight: 700;
    color: #666;
    line-height: 40px;
}
.header .btm-header .jin .p{
    font-size: 20px;
    font-weight: 400;
    color: #666;

}
.header .btm-header .contact{
    width: 320px;
    height: 40px;
    margin-top: 25px;
    float: right;
}
.header .btm-header .contact i{

    padding-right: 5px;
    margin-right: 5px;
    font-size: 40px;
    display: block;
    float: left;
    border-right: 1px solid #DCDCDC;
}
.header .btm-header .contact .fuwu{

    font-size: 22px;
    color: #666666;
    line-height: 40px;
}
.header .btm-header .contact .fuwu .haoma{
    color: red;
}
.header .container1{
    width: 100%;
    height: 50px;
    padding: 0 15px;
    margin: 0 auto;
    background: #666666;
    box-sizing: border-box;

}
.header .container1 .container2{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.header .container1 .son{
    width: 146px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}
.header .container1 .son:hover{
    background: red;
}
.header .container1 .son:nth-child(1){

}
.slider{
    width: 1519px;
    height: 237px;
    position: relative;
    top: 0;
    left: 0px;
}
.cg{
    width: 1170px;
    height: 337px;
    margin: 50px auto;
    padding: 0 15px;
}
.cg .titlecon{
    width: 1170px;
    height: 78px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.cg .titlecon h3{
    width: 115px;
    height: 78px;
    display: block;
    padding-top: 20px;
    border-top: 1px solid #dcdcdc;
    font-size: 24px;
    font-weight: 400;
    color: #666666;
    text-align: center;
}
.cg .titlecon h3 .p{
    width: 115px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #999;
    line-height: 21px;
    text-align: center;
    margin-top: 5px;
}
.cg .D{
    width: 1200px;
    height: 207px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cg .D .son{
    width: 288px;
    height: 207px;
    display: block;

}
.cg .D .son p{
    width: 100%;
    height: 22px;
    margin-top: 10px;
    display: block;
    text-align: center;
    color: #666666;
}
.cg .D .son:hover p{
    color: red;
}
footer{
    width: 100%;
    height: 345px;
    background: #252525;
}
footer .container{
    width: 1200px;
    height: 174px;
    padding: 40px 0;
    margin: 0 auto;
}
footer .container .son{
    width: 170px;
    height: 88px;
    padding: 0 15px;
    float: left;
}
footer .container .son:nth-child(4),footer .container .son:nth-child(5){
    width: 270px;
    height: 174px;
    padding: 0 15px;
}
footer .container .son .guan{
    width: 170px;
    height: 24px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    color: #cccccc;
}
footer .container .son .lian{
    width: 170px;
    height: 19px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666666;
    display: block;
}
footer .container .son .lian:hover{
    color: #cccccc;
}
footer .container .son img{
    display: block;
    margin: 0 auto;
}
footer .container .son .xi{
    margin-top: 30px;
    width: 270px;
    height: 87px;
    font-size: 16px;
    color: #ccc;
    line-height: 26px;
}
footer .container .son .xi strong{
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    margin-top: 5px;
    display: block;
}
footer .copy{
    width: 1170px;
    height: 48px;
    padding: 20px 0;
    border-top: 1px solid #1b1b1b;
    margin: 0 auto;
}
footer .copy .link{
    width: 100%;
    height: 29px;
}
footer .copy .link .son{

    height: 19px;
    display: block;
    margin-right: 10px;
    float: left;
    font-size: 14px;
    color: #666;
    line-height: 19px;
}
footer .copy .link .son1{
    width: 20px;
    height: 10px;
    margin: 0 10px 10px 0;
    float: left;
}
footer .copy .link .son1 img{
    display: block;
}
footer .copy .link .son:hover{
    color: #cccccc;
}
footer .copy .link2{
    width: 100%;
    height: 19px;
    font-size: 14px;
    color: #666666;
    text-align: center;
}
.box{
    width: 1519px;
    box-sizing: border-box;
    height: 48px;
    border: 1px solid #dcdcdc;
}
nav{
    width: 1170px;
    height: 48px;
    margin:0 auto;
    padding:0 15px 0 50px;
    line-height: 48px;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    background:url("../img/p34.png") no-repeat left center;
    background-position: 35px;
}
nav .iconfont{
    font-size: 35px;
}
nav a{
    color: #666666;
}
nav a:hover{
    color: red;
}
section{
    width: 1170px;
    height: 2060px;
    margin:20px auto;
    padding:0 15px;
}
section .con1{
    width: 1170px;
    height: 292px;
    display: flex;
}
section .con1 .left{
    width: 448px;
    height: 270px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    position: relative;
}
section .con1 .left img{
    margin:0 4px;
}
section .con1 .left .zuo{
    width: 25px;
    height: 39px;
    position: absolute;
    background:url("../img/p52.png");
    background-position: 0px 0;
    top: 50%;
    left: 18px;
}
section .con1 .left .you{
    width: 25px;
    height: 39px;
    position: absolute;
    background:url("../img/p52.png");
    background-position: -25px 0;
    top: 50%;
    right: 18px;
}
section .con1 .left .xia{
    width: 36px;
    height: 8px;
    position: absolute;
    bottom: 15px;
    left: 45%;
}
section .con1 .left .xia div{
    width: 8px;
    height: 8px;
    margin:0 5px;
    background: #dcdcdc;
    border-radius: 50%;
    float: left;
}
section .con1 .left .xia div:nth-child(1){
    background: blue;
}
section .con1 .left .xia div:hover{
     background: blue;
 }
section .con1 .right{
    width: 670px;
    height:228px;
    padding:0 15px 0 30px;
}
section .con1 .right h1{
    width: 670px;
    height: 34px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #959595;
    font-size: 26px;
    font-weight: 700;
    color: #323232;
}
section .con1 .right h1:nth-child(2){
    width: 670px;
    height: 28px;
    font-size: 14px;
    font-weight: 400;
    color: #7f7f7f;
}
section .con1 .right a{
    width: 100%;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    color: #666666;
    text-decoration: underline;
    display: block;
}
section .con1 .right span{
    width: 100%;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    color: #666666;
    display: block;
}
section .con1 .right p{
    width: 238px;
    height: 40px;
    display: block;
    font-size: 20px;
    color: #7f7f7f;
    line-height: 40px;
}
section .con1 .right p a{
    width: 138px;
    height: 40px;
    font-size: 20px;
    color: #666666;
    line-height: 40px;
    text-decoration: none;
    display: block;
    float: right;
}
section .con1 .right p a:hover{
    color: red;
}
section .con2{
    width: 970px;
    height: 1738px;
    margin-top: 30px;
    margin-left: 100px;
    padding-right:15px;
    overflow: hidden;
}
section .con2 h2{
    width: 970px;
    height: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom:1px dashed #979797;
    font-size: 20px;
    font-weight: 700;
    color: #323232;
}
section .con2 .son1{
    width: 970px;
    height: 134px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(102,102,102);
    text-align: center;
}
section .con2 .son1 strong{
    font-size: 14px;
    font-weight: 700;
    color: rgb(102,102,102);
}
section .con2 .son2{
    width: 970px;
    height: 38px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(102,102,102);
    text-align: center;
}
section .con2 .son3 {
    width: 970px;
    height: 57px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(68,68,68);
}
section .con2 .son3 strong{
    color: blue;
}
section .con2 img{
    display: block;
    margin:0 auto ;
}
section .con2 span{
    width: 100%;
    display: block;
    font-size: 14px;
    color: rgb(102,102,102);
    text-align: center;
}
section .con2 .son4{
    width: 970px;
    height: 58px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(68,68,68);

}
section .con2 .son5{
    font-size: 14px;
    color: rgb(68,68,68);
    text-align: center;
}
section .con2 .son6{
      font-size: 14px;
      color: rgb(68,68,68);
  }
section .con2 .son7{
    font-size: 14px;
    color: rgb(102,102,102);
}
.side{
    width: 50px;
    height: 120px;
    position: fixed;
    right: 20px;
    top: 35%;
}
.side .son{
    width: 50px;
    height: 40px;
    display: block;
    margin-bottom: 10px;
    background: #474747;
    border-radius: 50%;
    padding-top: 10px;
}
.side .son i{
    font-size: 30px;
    color: white;
    margin:0 10px;
    display:block ;
}
.side .son:hover{
    background: red;
}