@import url('base.css');
body {
    width: 1519px;
}.header{
     width:100%;
     height:212px;
 }
.header .top-header{
    width: 	100%;
    height: 32px;
    border-bottom: 	1px solid	#DCDCDC;
}
.header .top-header .container{
    width: 	1170px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header .top-header .container .fl{
    width: 	266px;
    height: 32px;
    font-size: 	14px;
    color: 	#666666;
    float: 	left;
    line-height: 32px;
}
.header .top-header .container .tool{
    width: 	auto;
    height: 100%;
    float: 	right;

}
.header .top-header .container .tool .qq{
    width: auto;
    height: 100%;
    padding: 0 10px;
}
.header .top-header .container .tool .qq:hover span,.header .top-header .container .tool .qq:hover i{
    color: red;
}
.header .top-header .container .tool .qq i{
    margin-right: 	5px;
    color: 	#666666;
}
.header .top-header .container .tool .qq span{
    font-size: 	14px;
    color: 	#666666;
    line-height: 32px;
}
.header .btm-header{
    width: 	1170px;
    padding: 0 15px;
    height: 90px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 	20px;

}
.header .btm-header .logo{
    width: 151px;
    height: 90px;
    display: block;
    float: left;
    margin-right: 10px;
}
.header .btm-header .jin{
    width: 120px;
    height: 66px;
    float: left;
    padding-top: 9px;
}
.header .btm-header .jin .he{
    font-size: 30px;
    font-weight: 700;
    color: #666;
    line-height: 40px;
}
.header .btm-header .jin .p{
    font-size: 20px;
    font-weight: 400;
    color: #666;

}
.header .btm-header .contact{
    width: 320px;
    height: 40px;
    margin-top: 25px;
    float: right;
}
.header .btm-header .contact i{

    padding-right: 5px;
    margin-right: 5px;
    font-size: 40px;
    display: block;
    float: left;
    border-right: 1px solid #DCDCDC;
}
.header .btm-header .contact .fuwu{

    font-size: 22px;
    color: #666666;
    line-height: 40px;
}
.header .btm-header .contact .fuwu .haoma{
    color: red;
}
.header .container1{
    width: 100%;
    height: 50px;
    padding: 0 15px;
    margin: 0 auto;
    background: #666666;
    box-sizing: border-box;

}
.header .container1 .container2{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.header .container1 .son{
    width: 146px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}
.header .container1 .son:hover{
    background: red;
}
.header .container1 .son:nth-child(4){
    background: red;
}
.slider{
    width: 1519px;
    height: 396px;
    position: relative;
    top: 0;
    left: 0px;
}
.box{
    width: 1519px;
    height: 48px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
}
nav{
    width: 1170px;
    height: 48px;
    margin:0 auto;
    padding:0 15px 0 50px;
    line-height: 48px;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    background:url("../img/p34.png") no-repeat left center;
    background-position: 35px;
}
nav .iconfont{
    font-size: 35px;
}
nav a{
    color: #666666;
}
nav a:hover{
    color: red;
}
.cg{
    width: 1170px;
    height: auto;
    margin: 50px auto;
    padding: 0 15px;
}
.cg .titlecon{
    width: 1170px;
    height: 78px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.cg .titlecon h3{
    width: 153px;
    height: 78px;
    display: block;
    padding-top: 20px;
    border-top: 1px solid #dcdcdc;
    font-size: 24px;
    font-weight: 400;
    color: #666666;
    text-align: center;
}
.cg .titlecon h3 .p{
    width: 153px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #999;
    line-height: 21px;
    text-align: center;
    margin-top: 5px;
}
.cg .D{
    width: 1200px;
    height: 207px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cg .D .son{
    width: 288px;
    height: 207px;
    display: block;

}
.cg .D .son p{
    width: 100%;
    height: 22px;
    margin-top: 10px;
    display: block;
    text-align: center;
    color: #666666;
}
.cg .D .son:hover p{
    color: red;
}
.cg .cp{
    width: 1170px;
    height: 32px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.cg .cp h3{
    width: 130px;
    height: 32px;
    border-left: 5px solid red;
    padding-left: 10px;
}
.cg .cp h3 a{
    color: red;
    font-size: 24px;
    font-weight: 700;
}
.cg .cp p{
    width: 91px;
    height: 29px;
    background: red;
}
.cg .cp p:hover{
    background: green;
}
.cg .cp p a{
    display: block;
    width: 71px;
    height: 19px;
    padding:5px 10px;
    font-size: 14px;
    color: white;
    text-align: center;
}
.cg ul{
    width: 1170px;
    height: 449px;
}
.cg ul li{
    width: 262px;
    height: 205px;
    padding:0 15px;
    margin-bottom: 20px;
    float: left;
}
.cg ul li:hover p{
    color: red;
}
.cg ul li a{
    width: 240px;
    height: 183px;
    border:1px solid    #dcdcdc;
    padding:10px;
    display: block;
}
.cg ul li p{
    width: 240px;
    height: 15px;
    margin:5px 0px;
    font-size: 14px;
    color: #666666;
    text-align: center;
}
.cg:nth-child(7){
    height: 257px;
}
footer{
    width: 100%;
    height: 345px;
    background: #252525;
}
footer .container{
    width: 1200px;
    height: 174px;
    padding: 40px 0;
    margin: 0 auto;
}
footer .container .son{
    width: 170px;
    height: 88px;
    padding: 0 15px;
    float: left;
}
footer .container .son:nth-child(4),footer .container .son:nth-child(5){
    width: 270px;
    height: 174px;
    padding: 0 15px;
}
footer .container .son .guan{
    width: 170px;
    height: 24px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    color: #cccccc;
}
footer .container .son .lian{
    width: 170px;
    height: 19px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666666;
    display: block;
}
footer .container .son .lian:hover{
    color: #cccccc;
}
footer .container .son img{
    display: block;
    margin: 0 auto;
}
footer .container .son .xi{
    margin-top: 30px;
    width: 270px;
    height: 87px;
    font-size: 16px;
    color: #ccc;
    line-height: 26px;
}
footer .container .son .xi strong{
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    margin-top: 5px;
    display: block;
}
footer .copy{
    width: 1170px;
    height: 48px;
    padding: 20px 0;
    border-top: 1px solid #1b1b1b;
    margin: 0 auto;
}
footer .copy .link{
    width: 100%;
    height: 29px;
}
footer .copy .link .son{

    height: 19px;
    display: block;
    margin-right: 10px;
    float: left;
    font-size: 14px;
    color: #666;
    line-height: 19px;
}
footer .copy .link .son1{
    width: 20px;
    height: 10px;
    margin: 0 10px 10px 0;
    float: left;
}
footer .copy .link .son1 img{
    display: block;
}
footer .copy .link .son:hover{
    color: #cccccc;
}
footer .copy .link2{
    width: 100%;
    height: 19px;
    font-size: 14px;
    color: #666666;
    text-align: center;
}
.side{
    width: 50px;
    height: 120px;
    position: fixed;
    right: 20px;
    top: 35%;
}
.side .son{
    width: 50px;
    height: 40px;
    display: block;
    margin-bottom: 10px;
    background: #474747;
    border-radius: 50%;
    padding-top: 10px;
}
.side .son i{
    font-size: 30px;
    color: white;
    margin:0 10px;
    display:block ;
}
.side .son:hover{
    background: red;
}